#img-bg{
    background-image: url('../../assets/img/laptop.jpg');

    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
button{
    margin: 10px;
}
input{
    margin-bottom: 4px;
}